@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav-wrap {
  width: 100%;
  margin: 1em auto 0;
}
@media (min-width: 992px) {
  .nav-wrap {
    width: 50%;
  }
}

[hidden] {
  display: none;
  visibility: hidden;
}

.acnav {
  width: 100%;
}
.acnav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.acnav__list--level1 {
  border: 1px solid #fcfcfc;
}
.has-children > .acnav__label::before {
  content: "ï§";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 1em;
  transition: transform 0.3s;
}
.has-children.is-open > .acnav__label::before {
  transform: rotate(405deg);
}
.acnav__link, .acnav__label {
  display: block;
  font-size: 1rem;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  color: #fcfcfc;
  background: #317589;
  box-shadow: inset 0 -1px #3988a0;
  transition: color 0.25s ease-in, background-color 0.25s ease-in;
}
.acnav__link:focus, .acnav__link:hover, .acnav__label:focus, .acnav__label:hover {
  color: #e3e3e3;
  background: #2d6b7e;
}
.acnav__link--level2, .acnav__label--level2 {
  padding-left: 3em;
  background: #2d6b7e;
}
.acnav__link--level2:focus, .acnav__link--level2:hover, .acnav__label--level2:focus, .acnav__label--level2:hover {
  background: #296272;
}
.acnav__link--level3, .acnav__label--level3 {
  padding-left: 5em;
  background: #296272;
}
.acnav__link--level3:focus, .acnav__link--level3:hover, .acnav__label--level3:focus, .acnav__label--level3:hover {
  background: #255867;
}
.acnav__link--level4, .acnav__label--level4 {
  padding-left: 7em;
  background: #255867;
}
.acnav__link--level4:focus, .acnav__link--level4:hover, .acnav__label--level4:focus, .acnav__label--level4:hover {
  background: #214f5c;
}
.acnav__list--level2, .acnav__list--level3, .acnav__list--level4 {
  display: none;
}
.is-open > .acnav__list--level2, .is-open > .acnav__list--level3, .is-open > .acnav__list--level4 {
  display: block;
}