<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <title>failed</title>
</head>

<style>
      h2 {
            font-family: verdana;
            font-size: 25px;
            text-align: center;
        }
</style>
<body>

    <h2>Sorry, you're unauthenticated !</h2>

    <h2 style="font-size: 13px">Please try Again & Return to  <a href="/login">Login</a> </h2>

</body>
</html>