<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <title>GPA | Sign In</title>
    <link rel="stylesheet" href="{{url_for('.static',filename='css/img-style.css')}}">
</head>

<body>
    <h2 class="title">Please select the three points in order on the image.</h2>
    <h2 style="margin-left: 48%;" id="ct" class="point">0</h2>


    <img id="h" onclick="clickHotspotImage(event);" name="hotspot_image" style="width: 50%; max-width: 800px; "
        src="data:{{ imga.mime }};base64,{{ image_data_base64 }}" alt="Hotspot image" />
    <form action="/home" method="post" id="pass">
        <input style="display: none;" type="text" name="passxy" id="inp">
        <button id="sub" type="submit" class="button2">Submit</button>
    </form>
</body>
<script>
    var n = 1;
    var count = 0;
    var xy = document.getElementById("inp");
    var xymail = document.getElementById("umail");
    function clickHotspotImage(event) {
        var xCoordinate = event.offsetX;
        var yCoordinate = event.offsetY;

        count = count + 1;
        if (n <= 3) {
            xy.value = xy.value + xCoordinate + ' ' + yCoordinate + " ";
            n = n + 1;
            document.getElementById("ct").innerHTML = n - 1;
        }

        if (n > 3) {
            document.getElementById("h").classList.add("a");

        }


    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</html>